<div class="col-xs-12">

    <div class="media mediaPhoto" ng-repeat="image in images">
        <div class="media-top img-wrap img-rounded ">
            <img class="media-object media-photo-img-hide" orientable
                 ng-src="{{src}}{{image.name}}">
        </div>
        <div class="media-body ">
            <p class="media-caption">{{image.caption}}</p>

        </div>
        <div class="media-footer">
            <button type="button"
                    class="btn btn-block btn-info"
                    ng-click="modalEdit(image)">
                Edit
            </button>
            <button type="button"
                    class="btn btn-block btn-danger"
                    ng-click="modalDelete(image)">
                Delete
            </button>
        </div>
    </div>
    <div class="media media-add">
        <button class="btn btn-danger btn-circle btn-lg botton-add "
                ng-click="modalAdd()">
            <span class="glyphicon glyphicon-plus"
                  aria-hidden="true">
            </span>
        </button>
    </div>

    <div>
        <!--<fileread-directive fileread="vm.uploadme"></fileread-directive>-->
        <!--<input type="file" fileread="vm.uploadme" />-->
    </div>


</div>


<div class="substrate" ng-click="modalClose()">
    <div ng-click="$event.stopPropagation()">      <!-- catch click-->

        <!-- Modal window Delete Photo-->

        <div class="modal-content modal-delete  animate-show" ng-show="modalDel">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modalClose()"><span>&times;</span></button>
                <h4>Удаление фото {{activeImage.name}}</h4>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить фото и его описание?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="modalClose()">Close</button>
                <button type="button" class="btn btn-danger" ng-click="deletePhoto(image)">Delete</button>
            </div>
        </div>

        <!-- Modal window Edit Photo-->

        <div class="modal-content modal-edit animate-show" ng-show="modalEd">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modalClose()"><span>&times;</span></button>
                <h4>Редактирование фото {{activeImage.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal" name="photo-form">
                        <div class="form-group col-xs-6">
                            <img class="col-xs-12 model-photo-img" ng-src="{{src}}{{activeImage.name}}">

                        </div>
                        <div class="form-group col-xs-6">
                            <h4>Описание:</h4>
                            <textarea class="form-control" rows="3" ng-model="activeImage.caption"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="modalClose()">Cancel</button>
                <button class="btn btn-info" type="button" ng-click="EditPhoto()">OK</button>
            </div>
        </div>

        <!-- Modal window Add Photo-->

        <div class="modal-content modal-add animate-show" ng-show="modalA">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modalClose()"><span>&times;</span></button>
                <h4>Добавление нового фото на страницу</h4>
            </div>
            <div class="modal-body" ng-show="uploader.queue.length !== 0">

                <div ng-repeat="item in uploader.queue">
                    <div class="modal-add-row">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <strong>{{ item.file.name }}</strong>
                                <!-- Image preview -->
                                <!--auto height-->
                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                <!--auto width-->
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }"></div>
                                <!--fixed width and height -->
                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                <!--<p>{{ item.file.size/1024/1024|number:2 }} MB</p> -->

                            </div>

                            <div class="col-xs-12 col-md-4">
                                <h4>Описание:</h4>

                            <textarea class="form-control"
                                      rows="3"
                                      ng-model="item.caption">
                            </textarea>
                            </div>

                            <div class="col-xs-12">
                                <button type="button"
                                        class="btn btn-danger btn-xs"
                                        ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">

<button ng-click="testFunction()">Test</button>
                <h4 class="modal-add-footer">Выберете файл</h4>
                <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                <input type="file"
                       nv-file-select=""
                       uploader="uploader"
                       multiple/>


                <button class="btn btn-default"
                        type="button"
                        ng-click="modalClose()">
                    Cancel
                </button>
                <button class="btn btn-info"
                        type="button"
                        ng-click="uploader.uploadAll()"
                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    OK
                </button>
            </div>

        </div>
    </div>

</div>

</div>


<!-- Alert window-->
<alert-directive massage="alertMessage" color="alertColor" show="alert"></alert-directive>




