<div class="col-xs-12">
    <div class="media mediaPhoto"  ng-repeat="image in images">
        <div class="media-top media-middle">
            <div class="img-wrap">
                <img class="media-object img-responsive img-rounded media-photo-img"
                 ng-src="resource/photo/big/room/{{image.name}}">
            </div>
        </div>
        <div class="media-body ">
            <p class="media-caption" >{{image.caption}}</p>

        </div>
        <div class="media-footer">
            <button class="btn btn-block btn-danger">Delete</button>
            <button class="btn btn-block btn-info">Edit</button>
        </div>
    </div>
</div>