<div class="col-xs-12">
    <div class="media mediaPhoto"  ng-repeat="image in images">
        <div class="media-top img-wrap img-rounded ">
                <img class="media-object media-photo-img-hide" orientable
                 ng-src="resource/photo/big/room/{{image.name}}">
        </div>
        <div class="media-body ">
            <p class="media-caption" >{{image.caption}}</p>

        </div>
        <div class="media-footer">
            <button type="button"
                    class="btn btn-block btn-info"
                    ng-click="open(image)">
                Edit {{image.name}}
            </button>
            <button type="button"
                    class="btn btn-block btn-danger">
                Delete
            </button>
        </div>
    </div>
</div>
<div photo-model-edit></div>



