<div id="mainMenu">
    <h3 class="side-menu-h3">Выберете раздел сайта:</h3>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-warning" ng-repeat="section in sections">
            <div class="panel-heading" role="tab" id="heading-{{section}}">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       data-parent="#accordion"
                       data-target="#collapse-{{section}}"
                       aria-expanded="false"
                       aria-controls="collapse-{{section}}">
                        {{contents[section].name}}
                    </a>
                </h4>
            </div>
            <div id="collapse-{{section}}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="heading-{{section}}">
                <div class="panel-body">
                    <a ui-sref="app.mediaPhoto({id: section})"
                       class="list-group-item">
                        Фото раздела {{contents[section].name}}
                    </a>
                    <a ui-sref="app.templateEditor({id: section})"
                       class="list-group-item">
                        Содержание раздела {{contents[section].name}}
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="login-menu">

    <h3 class="side-menu-h3">Для соединения с сервером введите данные:</h3>

    <div class="login-menu-block bg-warning">
        <label for="login-user-name" class="login-menu-label">
            Имя пользователя:</label>
        <input id="login-user-name" class="login-menu-input">
    </div>
    <div class="login-menu-block bg-warning">
        <label for="login-user-password" class="login-menu-label">
            Пароль:</label><br>
        <input id="login-user-password" class="login-menu-input">
    </div>
    <div>
        <button class="btn btn-block btn-warning">OK</button>
    </div>
</div>


