    <h3 class="side-menu-h3">Выберете раздел сайта:</h3>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-warning" ng-repeat="section in sections">
            <div class="panel-heading" role="tab" id="heading-{{section}}">
                <h4 class="panel-title">
                    <a role="button"
                       data-toggle="collapse"
                       data-parent="#accordion"
                       data-target="#collapse-{{section}}"
                       aria-expanded="false"
                       aria-controls="collapse-{{section}}"">
                        {{contents[section].name}}
                    </a>
                </h4>
            </div>
            <div id="collapse-{{section}}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="heading-{{section}}">
                <div class="panel-body">
                    <a ui-sref="app.mediaPhoto({id: section})"
                       class="list-group-item">
                        Фото раздела {{contents[section].name}}
                    </a>
                    <a ui-sref="app.templateEditor({id: section})"
                       class="list-group-item">
                        {{contents[section].description}}
                    </a>
                </div>
            </div>
        </div>

    </div>
