//$baseResourceURL: "http://localhost:3000/resource";
$baseResourceURL: "http://188.225.73.124:3000/resource";
$yellow: #FFD119;
$brown: #241b18;
$backcolor: #ffbf80;
$header-height: 13vh;
$screen-small: 720px;
$screen-large: 940px;

.jumbotron {
  margin: 0 auto;
  padding-top: 0;
  height: $header-height;
  background: url("../image/bg-body.png");
  background-position: center top;
  background-size: 100% auto;
  color: $yellow;
}

.head-link, .head-link:hover {
  text-decoration: none;
  color: $yellow;
}

#title {
  font-size: 3.8rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

.container {
  min-height: 100%;
}

.row-header {
  margin: 0 auto;
  padding: 0 0;
}
.row-content {
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}

html {
  overflow: hidden;
}

#content {
  height: (100-$header-height);
  overflow: auto;
  padding: 2px;
}