

#login-menu {
  display: block;
  width: 100%;
  padding: 3px;

}

.login-menu-block {
  border-radius: 4px;
  padding: 10px 0;
  margin-bottom: 3px;

}

.login-menu-label {
  width: 100%;
}

.login-menu-input {
  width: 100%;
}
