$mediaWidth: 175px;
$photoWidth: $mediaWidth - 30px;

.mediaPhoto {
  display: inline-block;
  padding: 15px;
  width: $mediaWidth;
}

.img-wrap {

  height: $photoWidth;
  overflow: hidden;
  position: relative;

}

.media-photo-img-vertical {
  position: absolute;
  top: -30%;
  width: $photoWidth;
  height: auto;
}

.media-photo-img-horizontal {
  position: absolute;
  left: -30%;
  height: $photoWidth;
  width: auto;
}

.media-photo-img-hide {
  display: block;
  background: url("../resource/camera.png");
  opacity: 0.1;
  width: $photoWidth;
}

.media-caption {
  height: 2em;
  text-overflow: ellipsis;
}

.media-add {
  display: inline-block;
  width: $mediaWidth;
  height: 255px;
  padding: 25px 50px;
}

.botton-add {
  display: inline-block;
  padding: 21px 26px;
  border-radius: 38px;
}

.alert-delete {
  position: fixed;
  left: 30%;
  top: 50%;
}

.modal-delete {
  position: fixed;
  left: 30%;
  top: 50%;
}

.modal-edit{
  width: 50%;
  position: fixed;
  left: 20%;
  top: 20%;
}

.modal-add {
  width: 70%;
  height: 60%;
  position: fixed;
  left: 10%;
  top: 20%;
  overflow-y: auto;
  overflow-x: hidden;
}

.lock {
  /* Скрываем скроллбары */
  overflow: hidden;

}
.lock .modal {
  background: rgba(0,0,0,0.5);
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  overflow: auto;
}







.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {

  opacity: 0;

}