$mediaWidth: 175px;
$photoWidth: $mediaWidth - 30px;

.mediaPhoto {
  display: inline-block;
  padding: 15px;
  width: $mediaWidth;
}

.img-wrap {

  height: $photoWidth;
  overflow: hidden;
  position: relative;

}

.media-photo-img-vertical {
  position: absolute;
  top: -30%;
  width: $photoWidth;
  height: auto;
}

.media-photo-img-horizontal {
  position: absolute;
  left: -30%;
  height: $photoWidth;
  width: auto;
}

.media-photo-img-hide {
  display: block;
  background-image: url("../resource/camera.png");
  opacity: 0.1;
  width: $photoWidth;
}

.media-caption {
  height: 2em;
  text-overflow: ellipsis;
}

.media-add {
  display: inline-block;
  width: $mediaWidth;
  height: 255px;
  padding: 25px 50px;
}

.botton-add {
  display: inline-block;
  padding: 21px 26px;
  border-radius: 38px;
}

.alert-delete {
  position: fixed;
  left: 30%;
  top: 50%;
}

.modal-delete {
  position: fixed;
  left: 30%;
  top: 30%;
}

.modal-edit{
  width: 50%;
  position: fixed;
  left: 20%;
  top: 20%;
}

.modal-add {
  width: 75%;
  max-width: 700px;
  margin: 10vh auto;
  @media screen and (max-width: $screen-small) {
    width: 90%;
  }
}

.modal-add-footer {
  text-align: left;
}

.modal-add-row {
  //border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.modal-body{
  min-height: 0;
  max-height: 50vh;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}


.lock {
  /* Скрываем скроллбары */
  overflow: hidden;

}
.lock .modal {
  background: rgba(0,0,0,0.5);
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  overflow: auto;
}

.alert {
  left: 50%;
}

.imagePreview {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin-bottom: -5px;
  @media screen and (max-width: $screen-small) {
    display: block;
  }
}

.imageComment {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 300px;
  @media screen and (max-width: $screen-small) {
    display: block;
    margin-left: 0;
    margin-top: 5px;
    width: inherit;
  }
}

.imageButton {
  margin-top: 7px;
}

canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  margin: 0;
  width: 200px;
}








//animation for open modal window
.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {

  opacity: 0;

}