#sideMenu {
  background: linear-gradient(to bottom, $brown, #73685D);;
  height: (100-$header-height);
  padding: 2px;
}

.panel-group .panel + .panel {
  margin-top: 2px;
}

a.list-group-item, button.list-group-item {
  color: $brown;
}

title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
  color: $brown;
}

.panel-body {
  padding: 0;
}

.side-menu-h3 {
  color: $yellow;
  font-size: 2rem;
}

