$backcolor: #ffbf80;

.jumbotron {
    margin: 0 auto;
    padding-top: 0;
    height: 100px;
    background: url("../resource/bg-body.png");;
    color: floralwhite;
}

.head-link, .head-link:hover {
    text-decoration: none;
    color: floralwhite;
}

.container {
    min-height: 100%;
}

.row-header {
    margin: 0 auto;
    padding: 0 0;
}
.row-content {
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}

#sideMenu {
    background: $backcolor;

}